main {
  max-width: 500px;
  margin: auto;
  padding: 16px;
  background-color: hsl(0, 0%, 100%);
}

h2 {
  font-size: 1.5rem;
  color: rgb(135, 167, 255);
  border-bottom: 1px solid #ff1111;
}

.header {
  text-align: center;
  padding: 0px;
  color: rgb(135, 167, 255);
}


/* Navigation Bar for About/Projects/Contact */
.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.navbar a {
  padding: 6px;
  background-color: #ffffff;
  border: 2px outset #000000;
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px;
}

.about {
  display: flex;
  gap: 16px;
  align-items: flex-start; /* Otherwise, about border bottom would look awkward */
}

/* For Projects+Fun Fact lists */
.list {
  list-style-type: circle;
  padding-left: 16px;
}

.list li {
  margin-bottom: 5px;
}

/* Footer */
.site-footer {
  text-align: center;
  font-size: 1rem;
}

/*For Better Mobile Viewing*/
@media (max-width: 600px) {
  .site-title {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .site-nav {
    flex-direction: column;
    align-items: stretch;
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}